<div class="blog-post">
  <h2 class="blog-post-title"><%= article.name %></h2>
  <p class="blog-post-meta"><%= article.published_on %></p>
  <%= raw(article.content) %>
  <%= link_to "Edit", edit_article_path(article) %>
</div><!-- /.blog-post -->
<hr>
