
<div class="blog-header">
  <h1 class="blog-title">The Codeplace Blog</h1>
  <p class="lead blog-description">Where great software stories are told</p>
</div>

<div class="row">

  <div class="col-sm-8 blog-main">
    <%= render @articles %>
  </div><!-- /.blog-main -->
</div><!-- /.row -->
